{% include 'head.html.twig' %}
{% block body %}
{% include 'header.html.twig' %}

<div class="main container">

    {% include 'element/quotation.html.twig' with {'text': quotation.text, 'author': quotation.author} %}
    <br>
    {% include 'element/collapse.html.twig' with {'text':'Regresja liniowa','idek':'linearRegression','catalog':'machine_learning_algorithms' } %}
    {% include 'element/collapse.html.twig' with {'text':'K najbliższych sąsiadów','idek':'KNearestNeighbors','catalog':'machine_learning_algorithms','hide':1 } %}
    {% include 'element/collapse.html.twig' with {'text':'Sieć neuronowa','idek':'NeuralNetwork','catalog':'machine_learning_algorithms','hide':1 } %}

</div>
{% endblock %}