<div>
    <div class="row">
        <div class="col-sm-8">            
            < panel z parametrami >
            [liczba elementów] []
        </div>
        <div class="col-sm-4">            
            < Akcje >
            [Uruchom] [Wyczyść]
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">            
            < Canvas >
        </div>
    </div>
</div>