body {
  background: #FFF8DC!important;
}
.main {
  padding: 20px 40px;
}
nav {
  border-bottom: 7.25px #a78f7f inset;
}
nav.bg-chocolate {
  background-color: #7d624f;
}
nav .fas {
  min-width: 35px;
}
div.quotation {
  color: #53473f;
  background-color: #53473f1c;
  font-size: 0.93rem;
  font-style: italic;
  padding: 21px 34px 12.65px 34px;
  border-left: 7.65px #a78f7f inset;
  width: fit-content;
}
div.quotation span {
  padding: 7px;
}
div.quotation .fa-quote-right {
  position: relative;
  top: -12px;
  min-width: 19px;
}
div.quotation .fa-quote-left {
  position: relative;
  top: 12px;
  min-width: 19px;
}
div.quotation div {
  text-align: right;
  margin-top: 14.65px;
  margin-right: -12px;
}
.galery-panel .pagination {
  text-align: right;
  background-color: #7d624f;
  margin: 8px 14px;
}
.galery-panel .pagination li {
  padding: 4px 0px;
  border-right: 1.15px solid #a78f7f;
}
.galery-panel .pagination li.active {
  background-color: #a78f7f;
}
.galery-panel .pagination li:last-child {
  border-right-width: 0px;
}
.galery-panel .pagination li:hover {
  background-color: #927968;
}
.galery-panel .pagination li a {
  color: white;
  padding: 4px 7.65px;
}
.galery-panel .pagination li a:hover {
  text-decoration: none;
}
.galery-panel .pagination .disabled {
  pointer-events: none;
}
.galery div {
  margin-top: 20px;
  transform: rotate(0deg);
  /* Firefox */
  -moz-transition: all 1s ease;
  /* WebKit */
  -webkit-transition: all 1s ease;
  /* Opera */
  -o-transition: all 1s ease;
  /* Standard */
  transition: all 1s ease;
}
.galery div:hover {
  /* Firefox */
  -moz-transform: rotate(3.65deg);
  /* WebKit */
  -webkit-transform: rotate(3.65deg);
  /* Opera */
  -o-transform: rotate(3.65deg);
  /* Standard */
  transform: rotate(3.65deg);
}
.galery div img {
  width: inherit;
  border: solid 9px white;
}
.galery div h5 {
  text-align: center;
  margin-top: 7px;
}
table {
  margin-top: 25px;
}
table thead {
  background-color: #a78f7f;
}
table td {
  border-top: 1.65px solid #7d624f!important;
}
table th {
  border-bottom: 2.65px solid #7d624f!important;
  border-top: 0px solid #7d624f!important;
}
table tr:nth-child(even) {
  background: #ece6e1;
}
table tr {
  box-shadow: inset -1px -1px 5px rgba(78, 49, 28, 0.19);
}
.communicate {
  position: fixed;
  z-index: 999;
  background: #b3ce4e;
  width: 100%;
  margin: 0px;
  top: 0px;
  left: 0px;
  padding: 1.65px;
  font-size: small;
  font-weight: bold;
  color: #5f6d2a;
  text-align: center;
}
.main-icon {
  text-align: center;
  font-size: x-large;
}
.canvasSpace {
  text-align: center;
}
.canvasSpace canvas {
  border: 1px solid #7d624f;
  width: 500px;
  min-height: 500px;
  margin: 20px;
}
.canvasSpace p.info {
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  transform: rotate(0.65deg);
  transition: transform 1s;
}
.canvasSpace p.info:hover {
  transform: rotate(1.65deg);
}
.mem {
  background-size: auto;
  height: 420px;
  width: 420px;
  padding: 20px 0px;
  margin: auto;
  background-position: bottom;
}
.mem div {
  height: 100%;
  display: grid;
}
.mem div p {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}
.mem div p:last-child {
  bottom: 0px;
  width: inherit;
  font-weight: 700;
  align-self: end;
  margin: 0px;
}
hr {
  margin-top: 0.65rem!important;
  margin-bottom: 0.65rem!important;
}
.btn-chocolate {
  color: #212529;
  background-color: #53473f1c;
  border-color: #53473f00;
  border-width: 0px!important;
  margin: 1px;
}
.btn-chocolate:hover {
  color: #212529;
  background-color: #53473f42;
  border-color: #53473f00;
}
.btn-chocolate:focus {
  box-shadow: 0 0 0 0.3rem inset #53473f42!important;
}
