<div class="canvasSpace" id="{{ idek }}">
    <canvas>
        <p class="info">Twoja przeglądarka nie obsługuje canvasa, sorry... hehe...</p>
        {% include 'element/mem.html.twig' with {'title':'No i se poprogramował','subtitle':'juniorze','img':'janusz_mem.png' } %}
    </canvas>
</div>
